.header {
  position: relative;
  overflow: hidden;
  height: auto;
  display: block;
  margin-bottom: -2px;
}
.header_img_desktop {
  position: relative;
  width: 100%;
  height: auto;
}
.header_img_mobile {
  display: none;
  position: relative;
  width: 100%;
  height: auto;
}
.nav__title {
  position: absolute;
  color: white;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}
.nav__title_descr {
  left: 70px;
  top: 13px;
  padding: 7px;
}
.nav__logo {
  position: absolute;
  left: 12px;
  top: 12px;
}
ul li {
  padding-bottom: 10px;
  line-height: 1.5;
  display: inline-block;
  margin-right: 15px;
}
.menu {
  display: inline;
  position: absolute;
  top: 15px;
  right: 100px;
}
.menu .menu__link {
  color: white;
  font-size: 12px;
  font-family: 'Noto Sans', sans-serif;
  padding-left: 18px;
  font-weight: bold;
  text-decoration: none;
}
.menu .menu__link:hover {
  color: #19FEFE;
  cursor: pointer;
}
.menu .menu__link:active {
  color: #D0CDCF;
  cursor: pointer;
}
.toggle-nav {
  display: none;
}
.nav__title_signIn {
  right: 26px;
  top: 12px;
  padding: 7px;
  border-left: 1px solid white;
}
.nav__title_signIn:hover {
  color: #19FEFE;
  cursor: pointer;
}
.nav__title_signIn:active {
  color: #D0CDCF;
  cursor: pointer;
}
.fa-search {
  color: white;
  padding-right: 5px;
  float: right;
  font-size: 1.5em !important;
  padding-left: 18px;
  margin-top: -2px;
}
.fa-search:hover {
  color: #19FEFE;
  cursor: pointer;
}
.fa-search:active {
  color: #D0CDCF;
  cursor: pointer;
}
.slider {
  left: 5%;
  top: 29%;
  margin: 0 auto;
  position: absolute;
  width: 24%;
  height: 35%;
  text-align: left;
  color: white;
  font-family: 'PT Sans', sans-serif;
}
.slider__title {
  font-size: 50px;
  font-weight: bold;
  margin-top: 23px;
  margin-bottom: 20px;
}
.slider__title:hover {
  color: #D0CDCF;
  cursor: pointer;
}
.slider__title:active {
  color: #19FEFE;
  cursor: pointer;
}
.slider__season {
  font-size: 30px;
  margin-bottom: 30px;
}
.slider__season:hover {
  color: #D0CDCF;
  cursor: pointer;
}
.slider__season:active {
  color: #19FEFE;
  cursor: pointer;
}
.slider__img {
  max-width: 100%;
  height: auto;
}
.box {
  position: absolute;
  top: -100%;
  right: 5%;
  width: 300px;
  height: 250px;
  background-color: #D0CDCF;
  z-index: 1000;
}
.box__ad {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -22px;
  font-family: 'Oswald', sans-serif;
}
.label {
  display: block ;
  color: #1E0014;
  background-color: #19FEFE;
  font-size: 13px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  width: 86px;
  height: 20px;
  text-align: center;
  padding-top: 5px;
}
.buttons {
  display: block;
  width: 280px;
  text-align: left;
}
.oneButton_episodesSections {
  color: #1E0014;
  border: 3px solid #1E0014;
  font-size: 15px;
  padding: 10px;
  background-color: transparent;
  font-weight: bold;
}
.oneButton {
  color: white;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  border: 3px solid white;
  background-color: transparent;
  font-weight: bold;
}
.oneButton:hover {
  background-color: #D0CDCF;
  color: white;
  cursor: pointer;
}
.oneButton:active {
  background-color: #19FEFE;
  color: #1E0014;
  cursor: pointer;
}
.oneButton_margin {
  margin-right: 10px;
}
.advertising {
  background-color: #19FEFE;
  position: relative;
}
.advertising .ad-blocks {
  text-align: left;
  width: 100%;
  max-width: 1216px;
  margin: 0 auto;
  height: 138px;
}
.advertising .ad-blocks .ad-item {
  float: left;
  max-width: 458px;
  margin-top: 25px;
}
.advertising .ad-blocks .ad-item .ad-item__img {
  float: left;
}
.advertising .ad-blocks .ad-item .ad-item__title {
  background-color: white;
  width: 50px;
  height: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin-left: 12px;
  padding: 1px 3px;
}
.advertising .ad-blocks .ad-item .ad-item__descr {
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 103px;
  margin-top: 10px;
  width: 65%;
}
.advertising .ad-blocks .ad-item .ad-item__descr:hover {
  color: #A29DA0;
  cursor: pointer;
}
.advertising .ad-blocks .ad-item .ad-item__descr:active {
  color: #1E0014;
  cursor: pointer;
}
.episodesSections {
  height: 122px;
  padding-top: 53px;
}
.episodesSections .episodeLinks {
  margin-top: 20px;
}
.episodesSections .episodeLinks .episodeLinks__link {
  color: #A29DA0;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  margin-left: 30px;
}
.episodesSections .episodeLinks .episodeLinks__link:hover {
  font-weight: bold;
  color: #1E0014;
  border-bottom: 3px solid #19FEFE;
  padding-bottom: 10px;
  cursor: pointer;
}
.episodesSections .episodeLinks .episodeLinks__link:active {
  font-weight: bold;
  color: #D0CDCF;
  border-bottom: 3px solid #D0CDCF;
  cursor: pointer;
}
.episodesSections .episodeLinks .episodeLinks__link:active:hover {
  font-weight: bold;
  color: #1E0014;
  border-bottom: 3px solid #19FEFE;
  padding-bottom: 10px;
  cursor: pointer;
}
.episodesSections .episodeLinks .episodeLinks__link:active:active {
  font-weight: bold;
  color: #D0CDCF;
  border-bottom: 3px solid #D0CDCF;
  cursor: pointer;
}
.episodesSections .news .oneButton {
  color: #1E0014 !important;
  border: 3px solid #1E0014 !important;
  font-size: 15px;
  padding: 10px;
  border: 3px solid white;
  background-color: transparent;
  font-weight: bold;
}
.episodesSections .news .oneButton:hover {
  background-color: #D0CDCF;
  color: white;
  cursor: pointer;
}
.episodesSections .news .oneButton:active {
  background-color: #19FEFE;
  color: #1E0014;
  cursor: pointer;
}
.episodesSections .oneButton_episodesSections {
  color: #1E0014;
  border: 3px solid #1E0014 ;
  font-size: 15px;
  padding: 10px;
  border: 3px solid white;
  background-color: transparent;
  font-weight: bold;
}
.episodesSections .oneButton_episodesSections:hover {
  background-color: #D0CDCF;
  color: white;
  cursor: pointer;
}
.episodesSections .oneButton_episodesSections:active {
  background-color: #19FEFE;
  color: #1E0014;
  cursor: pointer;
}
.episodesSections .oneButton_episodesSections .fa-caret-square-o-down {
  margin-left: 10px;
  margin-bottom: 3px;
}
.episodes {
  position: relative;
}
.episodeItem {
  position: relative;
  height: auto;
  margin-bottom: 6px;
  text-align: right;
  margin: 6 auto;
  width: 100%;
  background-color: white;
}
.episodeInfo {
  padding-left: 25px;
  display: inline-block;
  width: 25%;
  text-align: left;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 30px;
}
.episode-labels {
  vertical-align: top !important;
  height: 16px;
}
.label {
  display: inline-block !important;
  vertical-align: top;
  height: 17px;
}
.episode-labels__label {
  display: none;
}
.episodeItem .label:first-child {
  display: inline-block !important;
  vertical-align: top;
}
.episode-labels__label:first-child {
  display: none;
}
.episodeItem .oneButton_episodesSections {
  display: none;
}
.episode-labels__icon {
  display: inline-block;
}
.episodeInfo__number {
  color: #A19C9F;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 15px;
  display: inline-block;
  padding-right: 5px;
}
.episodeInfo__number:hover {
  color: #D0CDCF;
  cursor: pointer;
}
.episodeInfo__number:active {
  color: #19FEFE;
  cursor: pointer;
}
.episodeInfo__date {
  color: #A19C9F;
  font-size: 13px;
}
.episodeInfo__title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}
.episodeInfo__title:hover {
  color: #D0CDCF;
  cursor: pointer;
}
.episodeInfo__title:active {
  color: #19FEFE;
  cursor: pointer;
}
.episodeInfo__descr {
  margin-bottom: 20px;
  line-height: 1.1em;
  font-size: 15px;
}
.oneButton-episode {
  color: black;
  border: 1px solid #A699A2;
  outline: 2px solid #361B2D;
}
.episodeItem__shadow {
  display: block;
  background: #FFF;
  width: 100%;
  height: 100%;
  position: absolute;
  background: -moz-linear-gradient(271deg, #dfe4e8 11%, #eff4f5 44%, #f7fcfc 60%, #faffff 66%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, #dfe4e8), color-stop(44%, #eff4f5), color-stop(60%, #f7fcfc), color-stop(66%, #faffff));
  background: -webkit-linear-gradient(271deg, #dfe4e8 11%, #eff4f5 44%, #f7fcfc 60%, #faffff 66%);
  background: -o-linear-gradient(271deg, #dfe4e8 11%, #eff4f5 44%, #f7fcfc 60%, #faffff 66%);
  background: -ms-linear-gradient(271deg, #dfe4e8 11%, #eff4f5 44%, #f7fcfc 60%, #faffff 66%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.27) 5%, rgba(255, 255, 255, 0.95) 53%, #e6e6e8 160%, #ffffff 127%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DFE4E8', endColorstr='#FAFFFF', GradientType=0);
  left: 0;
  top: 0;
}
.episodeInfo__button {
  display: block !important;
  position: absolute;
  top: 215px;
  left: 50%;
  margin-left: -75px;
}
.episode-img {
  display: inline-block;
  width: 70%;
}
.episode-img_props {
  position: relative;
  width: 100%;
  height: auto;
}
.episodeImg_background1 {
  background-image: url("../imgs/episodes/tw-episode1.jpg");
}
.episodeImg_background1 {
  background-image: url("../imgs/episodes/tw-episode1.jpg");
}
.episodeImg_background2 {
  background-image: url("../imgs/episodes/tw-episode2.jpg");
}
.episodeImg_background3 {
  background-image: url("../imgs/episodes/tw-episode3.jpg");
}
.episodeImg_background4 {
  background-image: url("../imgs/episodes/tw-episode4.jpg");
}
.episodeImg_background5 {
  background-image: url("../imgs/episodes/tw-episode5.jpg");
}
.oneButton-margin {
  margin-right: 10px;
}
.episodeItem .oneButton-episodesSections {
  display: none;
}
.episodesSections .oneButton_episodesSections {
  color: #1E0014;
  border: 3px solid #1E0014;
  display: block;
  margin: 0 auto;
}
.oneButton_episodesSections_last {
  color: #1E0014;
  border: 3px solid #1E0014;
  position: absolute;
  left: 50%;
  margin-left: -87px;
  bottom: 60px;
}
.cast .actor {
  width: 245px;
  height: 350px;
  margin-left: 20px;
}
.cast .actor .actor__img {
  border-radius: 100%;
}
.cast .actor .actor__surname {
  color: #1E0014;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 8px;
}
.cast .actor .actor__surname:hover {
  color: #BAB6B8;
  cursor: pointer;
}
.cast .actor .actor__surname:active {
  color: #19FEFE;
  cursor: pointer;
}
.cast .actor .actor__role:hover {
  color: #BAB6B8;
  cursor: pointer;
}
.cast .actor .actor__role:active {
  color: #19FEFE;
  cursor: pointer;
}
.playlistItem {
  color: white;
  z-index: 5;
  margin-bottom: 90px;
}
.playlistItem_background1 {
  width: 298px;
  height: 316px;
  margin-left: 5px !important;
  background-image: url("../imgs/playlists/interview.jpg");
}
.playlistItem_background2 {
  width: 298px;
  height: 316px;
  background-image: url("../imgs/playlists/fire-action.jpg");
}
.playlistItem_background3 {
  width: 298px;
  height: 316px;
  background-image: url("../imgs/playlists/soundtrack.jpg");
}
.playlistItem_background4 {
  width: 298px;
  height: 316px;
  background-image: url("../imgs/playlists/fanvids.jpg");
}
.playlistsItem-elems {
  position: absolute;
  top: 105px;
  color: white;
  z-index: 2;
}
.playlistsItem-elems .playlistsItem-elems_title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 60px;
}
.playlistsItem-elems .playlistsItem-elems_title:hover {
  color: #19FEFE;
  cursor: pointer;
}
.playlistsItem-elems .playlistsItem-elems_title:active {
  color: #D0CDCF;
  cursor: pointer;
}
.playlistsItem-elems .playlistsItem-elems_video {
  font-size: 19px;
}
.playlistsItem-elems .playlistsItem-elems_video:hover {
  color: #19FEFE;
  cursor: pointer;
}
.playlistsItem-elems .playlistsItem-elems_video:active {
  color: #D0CDCF;
  cursor: pointer;
}
.playlistsItem-elems .fa-caret-square-o-right {
  margin-bottom: 20px;
  font-size: 2.5em;
}
.playlistsItem-elems .fa-caret-square-o-right:hover {
  color: #19FEFE;
  cursor: pointer;
}
.playlistsItem-elems .fa-caret-square-o-right:active {
  color: #D0CDCF;
  cursor: pointer;
}
.playlistsItem__layout {
  background-color: #1E0014;
  opacity: 0.4;
  position: absolute;
  width: 298px;
  height: 316px;
  z-index: 1;
}
.playlistsItem:hover .playlistsItem__layout {
  display: none;
}
.news {
  background-color: #F3F3F3;
  width: 1215px;
  margin: 0 auto;
}
.news .newsItemBig {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.news .newsItemBig .itemBig {
  position: relative;
}
.news .newsItemBig .itemBig__img {
  width: 100%;
  height: auto;
}
.newsItemBig .itemBig {
  max-width: 595px;
  height: 485px;
  background-color: white;
  position: relative;
}
.author {
  position: absolute;
  left: 0;
  bottom: 25px;
}
.newsItemBig .itemBig .itemBig__title {
  padding-left: 25px;
  padding-right: 55px;
  font-weight: bold;
  font-size: 25px;
  color: #1E0014;
  margin-top: 28px;
}
.newsItemBig .itemBig .itemBig__title:hover {
  color: #D0CDCF;
  cursor: pointer;
}
.newsItemBig .itemBig .itemBig__title:active {
  color: #19FEFE;
  cursor: pointer;
}
.newsItemBig .itemBig .author__name {
  font-size: 15px;
  padding-left: 25px;
  padding-right: 55px;
  display: inline-block;
  font-weight: bold;
  color: #BAB6B8;
}
.newsItemBig .itemBig .author__name:hover {
  color: #D0CDCF;
  cursor: pointer;
}
.newsItemBig .itemBig .author__name:active {
  color: #19FEFE;
  cursor: pointer;
}
.newsItemBig .itemBig .author__date {
  font-size: 13px;
  display: inline;
  color: #BAB6B8;
  margin-left: 13px;
}
.newsItemSmall-margins {
  margin-top: 23px;
  margin-bottom: 23px;
}
.newsItemSmall {
  display: flex;
  height: 375px;
  text-align: left;
  justify-content: space-between;
}
.itemSmall {
  max-width: 390px;
  background-color: white;
  position: relative;
}
.itemSmall__img {
  height: auto;
  width: 100%;
}
.newsItemSmall .itemSmall .itemSmall__title {
  padding-left: 25px;
  padding-right: 55px;
  font-weight: bold;
  font-size: 19px;
  color: #1E0014;
  margin-top: 28px;
}
.newsItemSmall .itemSmall .itemSmall__title:hover {
  color: #D0CDCF;
  cursor: pointer;
}
.newsItemSmall .itemSmall .itemSmall__title:active {
  color: #19FEFE;
  cursor: pointer;
}
.newsItemSmall .itemSmall .author__name {
  font-size: 15px;
  padding-left: 25px;
  padding-right: 55px;
  display: inline-block;
  font-weight: bold;
  color: #BAB6B8;
}
.newsItemSmall .itemSmall .author__name:hover {
  color: #D0CDCF;
  cursor: pointer;
}
.newsItemSmall .itemSmall .author__name:active {
  color: #19FEFE;
  cursor: pointer;
}
.newsItemSmall .itemSmall .author__date {
  font-size: 13px;
  display: inline;
  color: #BAB6B8;
  margin-left: 13px;
}
.about-serial {
  position: relative;
  text-align: center;
  width: 100%;
  height: auto;
  text-align: left;
}
.about-serial .about-serial_img {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: -2px;
}
.about-serial .about-teen {
  text-align: left;
  position: absolute;
  top: 15%;
}
.about-serial .about-teen .about-teen__title {
  color: white;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 20px;
}
.about-serial .about-teen .about-teen__title:hover {
  color: #19FEFE;
  cursor: pointer;
}
.about-serial .about-teen .about-teen__title:active {
  color: #D0CDCF;
  cursor: pointer;
}
.about-serial .about-teen .about-teen__descr {
  width: 395px;
  color: #AFB0B5;
  line-height: 1.1em;
  margin-bottom: 33px;
  font-size: 17px;
}
.about-serial .about-teen .about-teen__descr:hover {
  color: white;
  cursor: pointer;
}
.about-serial .about-teen .about-teen__invitation {
  color: white;
  font-size: 19px;
  font-weight: bold;
}
.about-serial .about-teen .about-teen__invitation:hover {
  color: #19FEFE;
  cursor: pointer;
}
.about-serial .about-teen .about-teen__invitation:active {
  color: #D0CDCF;
  cursor: pointer;
}
.about-serial .about-teen .about-teen__networks {
  margin-top: 10px;
  font-size: 3em;
}
.about-serial .about-teen .about-teen__networks:hover {
  color: #19FEFE;
  cursor: pointer;
}
.about-serial .about-teen .about-teen__networks:active {
  color: #D0CDCF;
  cursor: pointer;
}
.about-serial .about-teen .about-teen__networks .fa-twitter-square {
  color: #1CA0F1;
}
.about-serial .about-teen .about-teen__networks .fa-twitter-square:hover {
  color: #19FEFE;
  cursor: pointer;
}
.about-serial .about-teen .about-teen__networks .fa-twitter-square:active {
  color: #D0CDCF;
  cursor: pointer;
}
.about-serial .about-teen .about-teen__networks .fa-facebook-square {
  color: #3C5A99;
}
.about-serial .about-teen .about-teen__networks .fa-facebook-square:hover {
  color: #19FEFE;
  cursor: pointer;
}
.about-serial .about-teen .about-teen__networks .fa-facebook-square:active {
  color: #D0CDCF;
  cursor: pointer;
}
.about-serial .about-teen .about-teen__networks .fa-instagram {
  color: #D73676;
}
.about-serial .about-teen .about-teen__networks .fa-instagram:hover {
  color: #19FEFE;
  cursor: pointer;
}
.about-serial .about-teen .about-teen__networks .fa-instagram:active {
  color: #D0CDCF;
  cursor: pointer;
}
.about-serial .about-teen .about-teen__networks .fa-tumblr-square {
  color: #39475D;
}
.about-serial .about-teen .about-teen__networks .fa-tumblr-square:hover {
  color: #19FEFE;
  cursor: pointer;
}
.about-serial .about-teen .about-teen__networks .fa-tumblr-square:active {
  color: #D0CDCF;
  cursor: pointer;
}
.recommendations {
  background-color: #1E0014;
}
.recommendations .recommend {
  width: 224px;
  margin-left: 22px;
}
.recommendations .recommend .recommend__title {
  color: white;
  margin-top: 25px;
  padding-bottom: 55px;
  font-weight: bold;
  font-size: 18px;
}
.recommendations .recommend .recommend__title:hover {
  color: #19FEFE;
  cursor: pointer;
}
.recommendations .recommend .recommend__title:active {
  color: #D0CDCF;
  cursor: pointer;
}
.storiesSection {
  background-color: #2B2128;
}
.stories {
  text-align: left;
  width: 100%;
  max-width: 1216px;
  margin: 0 auto;
  padding-bottom: 15px;
}
.stories .stories__note {
  float: right;
  font-size: 15px;
  color: #716A6F;
  padding-top: 50px;
  display: inline-block;
}
.stories .stories__section-name {
  color: #716A6F;
  font-weight: bold;
  font-size: 26px;
  padding-top: 45px;
  padding-bottom: 30px;
  display: inline-block;
}
.stories .stories__section-name:hover {
  color: #19FEFE;
  cursor: pointer;
}
.stories .stories__section-name:active {
  color: #D0CDCF;
  cursor: pointer;
}
.stories .storiesItems {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.stories .storiesItems .storyItem {
  width: 413px;
}
.stories .storiesItems .storyItem .storyItem__img {
  float: left;
  margin-right: 23px;
  margin-bottom: 25px;
}
.stories .storiesItems .storyItem .storyItem__title {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 15px;
  width: 385px;
}
.stories .storiesItems .storyItem .storyItem__title:hover {
  color: #19FEFE;
  cursor: pointer;
}
.stories .storiesItems .storyItem .storyItem__title:active {
  color: #D0CDCF;
  cursor: pointer;
}
.stories .storiesItems .storyItem .storyItem__source {
  color: #716A6F;
  font-size: 14px;
  font-weight: bold;
}
.about-viacom {
  background-color: #43393F;
}
.about-viacom .aboutCompany {
  text-align: center;
  width: 100%;
  max-width: 1216px;
  margin: 0 auto;
  color: white;
}
.about-viacom .aboutCompany .socialIcons {
  font-size: 1.5em;
  padding-top: 65px;
  padding-bottom: 30px;
}
.about-viacom .aboutCompany .socialIcons .fa-facebook,
.about-viacom .aboutCompany .socialIcons .fa-instagram,
.about-viacom .aboutCompany .socialIcons .fa-tumblr,
.about-viacom .aboutCompany .socialIcons .fa-twitter {
  margin-left: 25px;
}
.about-viacom .aboutCompany .socialIcons .fa-facebook:hover,
.about-viacom .aboutCompany .socialIcons .fa-instagram:hover,
.about-viacom .aboutCompany .socialIcons .fa-tumblr:hover,
.about-viacom .aboutCompany .socialIcons .fa-twitter:hover {
  color: #19FEFE;
  cursor: pointer;
}
.about-viacom .aboutCompany .socialIcons .fa-facebook:active,
.about-viacom .aboutCompany .socialIcons .fa-instagram:active,
.about-viacom .aboutCompany .socialIcons .fa-tumblr:active,
.about-viacom .aboutCompany .socialIcons .fa-twitter:active {
  color: #D0CDCF;
  cursor: pointer;
}
.about-viacom .aboutCompany .items {
  font-size: 15px;
  display: inline-block;
  font-weight: bold;
  padding-bottom: 50px;
}
.about-viacom .aboutCompany ul li {
  display: inline-block;
  margin-right: 25px;
}
.about-viacom .aboutCompany ul li:hover {
  color: #19FEFE;
  cursor: pointer;
}
.about-viacom .aboutCompany ul li:active {
  color: #D0CDCF;
  cursor: pointer;
}
.about-viacom .aboutCompany .aboutCompany__info {
  padding-bottom: 38px;
  color: #8B8589;
  font-size: 13px;
}
.about-viacom .aboutCompany .aboutCompany__info:hover {
  color: #19FEFE;
  cursor: pointer;
}
.about-viacom .aboutCompany .aboutCompany__info:active {
  color: #D0CDCF;
  cursor: pointer;
}
.big-block1 {
  width: 605px;
  height: 450px;
}
.big-block1 {
  width: 605px;
  height: 450px;
}
.big-block2__left {
  display: inline-block;
  width: 298px;
  height: 450px;
  margin-right: 2px;
}
.big-block2__right {
  display: inline-block;
  width: 298px;
  height: 450px;
  margin-right: 2px;
}
.photoItemBig {
  position: relative;
  color: white;
}
.photoItemBig .photoItemBig-text {
  position: absolute;
  left: 25px;
  top: 335px;
  text-align: left;
}
.photoItemBig .photoItemBig-text .photoItemBig-text_title {
  font-size: 25px;
  width: 295px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}
.photoItemBig .photoItemBig-text .photoItemBig-text_title:hover {
  color: #19FEFE;
  cursor: pointer;
}
.photoItemBig .photoItemBig-text .photoItemBig-text_title:active {
  color: #D0CDCF;
  cursor: pointer;
}
.photoItemBig .photoItemBig-text .photoItemBig-text_descr {
  font-size: 18px;
}
.photoItemSmall {
  position: relative;
  color: white;
}
.photoItemSmall .photoItemSmall-text {
  position: absolute;
  top: 120px;
  text-align: left;
  left: 25px;
}
.photoItemSmall .photoItemSmall-text .photoItemSmall-text_title {
  font-size: 20px;
  width: 245px;
  margin-bottom: 17px;
  font-weight: bold;
}
.photoItemSmall .photoItemSmall-text .photoItemSmall-text_title:hover {
  color: #19FEFE;
  cursor: pointer;
}
.photoItemSmall .photoItemSmall-text .photoItemSmall-text_title:active {
  color: #D0CDCF;
  cursor: pointer;
}
.photoItemSmall .photoItemSmall-text .photoItemSmall-text_descr {
  font-size: 18px;
}
.photoItem_background_1 {
  background-image: url("../imgs/photos/photo_1.jpg");
  width: 605px;
  height: 450px;
  margin-left: -5px;
}
.photoItem_background_2 {
  background-image: url("../imgs/photos/photo_2.jpg");
  width: 298px;
  height: 221px;
  margin-bottom: 8px;
}
.photoItem_background_3 {
  background-image: url("../imgs/photos/photo_3.jpg");
  width: 298px;
  height: 221px;
}
.photoItem_background_4 {
  background-image: url("../imgs/photos/photo_4.jpg");
  width: 298px;
  height: 221px;
  margin-bottom: 8px;
}
.photoItem_background_5 {
  background-image: url("../imgs/photos/photo_5.jpg");
  width: 298px;
  height: 221px;
}
.photos .owl-stage-outer {
  height: 450px;
}
.hover-and-active-Item:hover {
  color: #19FEFE;
  cursor: pointer;
}
.hover-and-active-Item:active {
  color: #1E0014;
  cursor: pointer;
}
.slider-button:hover {
  color: #19FEFE;
  background-color: transparent;
  border-color: #19FEFE;
  cursor: pointer;
}
.slider-button:active {
  color: #D0CDCF;
  border-color: #D0CDCF;
  cursor: pointer;
}
.item-buttons:hover {
  background-color: #D0CDCF;
  color: white;
  cursor: pointer;
}
.item-buttons:active {
  background-color: #19FEFE;
  color: #1E0014;
  cursor: pointer;
}
.titles-epidodes:hover {
  color: #D0CDCF;
  cursor: pointer;
}
.titles-epidodes:active {
  color: #19FEFE;
  cursor: pointer;
}
.cast-hover:hover {
  color: #BAB6B8;
  cursor: pointer;
}
.cast-hover:active {
  color: #19FEFE;
  cursor: pointer;
}
.item-hover:hover {
  color: #19FEFE;
  cursor: pointer;
}
.item-hover:active {
  color: #D0CDCF;
  cursor: pointer;
}
.description-hover:hover {
  color: white;
  cursor: pointer;
}
.slider-title:hover {
  color: #D0CDCF;
  cursor: pointer;
}
.slider-title:active {
  color: #19FEFE;
  cursor: pointer;
}
.advertising-hover:hover {
  color: #A29DA0;
  cursor: pointer;
}
.advertising-hover:active {
  color: #1E0014;
  cursor: pointer;
}
.recommend-hover:hover {
  color: white;
  cursor: pointer;
}
.recommend-hover:active {
  color: #19FEFE;
  cursor: pointer;
}
.links-hover:hover {
  font-weight: bold;
  color: #1E0014;
  border-bottom: 3px solid #19FEFE;
  padding-bottom: 10px;
  cursor: pointer;
}
.links-hover:active {
  font-weight: bold;
  color: #D0CDCF;
  border-bottom: 3px solid #D0CDCF;
  cursor: pointer;
}
.links-hover-mobile:hover {
  font-weight: bold;
  color: #1E0014;
  border-bottom: none;
  padding-bottom: 0;
  cursor: pointer;
}
.links-hover-mobile:active {
  font-weight: bold;
  color: #D0CDCF;
  border-bottom: none;
  padding-bottom: 0;
  cursor: pointer;
}
body {
  background-color: #F3F3F3;
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  cursor: default;
}
html {
  overflow-x: hidden;
}
.playlistsItem {
  margin-left: 6px !important;
}
.wrapper {
  overflow-x: hidden;
}
.section-name {
  font-size: 40px;
  font-family: 'Noto Sans', sans-serif;
  padding-top: 90px;
  padding-bottom: 30px;
  font-weight: bold;
  color: #D0CDCF;
  display: inline-block;
}
.section-name:hover {
  color: #19FEFE;
  cursor: pointer;
}
.section-name:active {
  color: #1E0014;
  cursor: pointer;
}
.recommendations .section-name:hover {
  color: white;
  cursor: pointer;
}
.recommendations .section-name:active {
  color: #19FEFE;
  cursor: pointer;
}
.container {
  text-align: center;
  width: 100%;
  max-width: 1216px;
  margin: 0 auto;
  height: auto;
}
