{{#headerImages}}
<div class="ad-item">
  <img class="ad-item__img"src="imgs/advertisement/{{imgName}}.jpg">
    <span class="ad-item__title">{{type}}</span>
    <p class="ad-item__descr">{{descr}}</p>
</div>
{{/headerImages}}
