{{#episodes}}
  <div class="episodeItem ">
    <div class="episodeInfo">
      <div class="episode-labels">
        <img src="imgs/episodes/{{imgIcon}}.png" class="episode-labels__icon">
        <p class=" episode-labels__label {{class-label}}"> LATEST EPISODE</p>
      </div>
      <div>
        <h4 class="episodeInfo__number">S6 Episode {{numberEpisode}}</h4>
        <span class="episodeInfo__date">{{date}}</span>
      </div>
      <h3 class="episodeInfo__title">{{title}}</h3>
      <p class="episodeInfo__descr">{{descr}}</p>
      <div class="buttons">
        <button class="oneButton oneButton-margin oneButton-episode">Sing In To Watch</button>
        <button class="oneButton oneButton-episode ">Episode Clips</button>
      </div>
    </div>
    <div class="episode-img ">
      <img src="imgs/episodes/{{imgName}}.jpg" class="episode-img_props ">
    </div>
    <div class="{{class-gradient}}"></div>
  </div>
{{/episodes}}
