.header {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  height: auto !important;
  position: relative;
  background-image: url("../imgs/teen-wolf/teen-wolf-big.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
