{{#cast}}
<div class="actor owl-item">
  <img class="actor__img"src="imgs/cast/{{imgName}}.jpg">
    <p class="actor__surname">{{surname}}</p>
    <p class="actor__role">{{role}}</p>
</div>
{{/cast}}
