{{#playlists}}
<div class="playlistsItem {{class}} owl-item ">
  <div class="playlistsItem__layout"></div>
  <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
  <p class="playlistsItem__title">{{title}}</p>
  <p class="playlistsItem__video">{{videos}} Videos</p>
</div>
{{/playlists}}
