{{#playlists}}
<div class="playlistsItem {{class}} owl-item ">
  <div class="playlistsItem__layout"></div>
  <div class="playlistsItem-elems">
    <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
    <p class="playlistsItem-elems_title">{{title}}</p>
    <p class="playlistsItem-elems_video">{{videos}} Videos</p>
  </div>
</div>
{{/playlists}}
