{{#episodesSections}}
<button class="oneButton oneButton_episodesSections">Season 6<i class="fa fa-caret-square-o-down " aria-hidden="true"></i></button>
<div class="episodeLinks">
  <a href='#' class="episodeLinks__link">{{link1}}</a>
  <a href='#' class="episodeLinks__link">{{link2}}</a>
  <a href='#' class="episodeLinks__link">{{link3}}</a>
  <a href='#' class="episodeLinks__link">{{link4}}</a>
  <a href='#' class="episodeLinks__link">{{link5}}</a>
</div>
{{/episodesSections}}
