{{#navLinks}}
<li><a href='#' class="menu__link">{{link1}}</a></li>
<li><a href='#' class="menu__link">{{link2}}</a></li>
<li><a href='#' class="menu__link">{{link3}}</a></li>
<li><a href='#' class="menu__link">{{link4}}</a></li>
<li><a href='#' class="menu__link">{{link5}}</a></li>
<i class="fa fa-search " aria-hidden="true"></i>
{{/navLinks}}
