.slider {
max-width: 1216px;
min-height: 385px;
margin: 0 auto;
position: relative;
}
.slider__title {
  color: @color1;
  position: absolute;
  top: 115px;
  left: 0px;
  font-size: 50px;
  font-weight: bold;
  font-family: @font3;
  .slider-title;
}
.slider__season {
  color: @color1;
  position: absolute;
  top: 210px;
  left: 0px;
  font-size: 30px;
  font-family: @font3;
  .slider-title;
}
.slider__img {
  max-width: 100%;
  height: auto;
}
.box {
  position: absolute;
  top: 302px;
  right: 75px;
  width: 300px;
  height: 250px;
  background-color:@color2;
}
.box__ad {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -22px;
  font-family: @font1;
}
