{{#photoBlock1}}
<div class="photoItemBig {{class}}">
  <div class="photoItemBig-text">
    <p class="photoItemBig-text_title">Photo Gallery Title Lorem Input Dolor</p>
    <p class="photoItemBig-text_descr"># Photos</p>
  </div>
</div>
{{/photoBlock1}}
