{{#photoBlock3}}
<div class="photoItemSmall {{class}}">
    <p class="photoItemSmall__title">Photo Gallery Title Lorem Input Dolor</p>
    <p class="photoItemSmall__descr"># Photos</p>
</div>
{{/photoBlock3}}
