{{#photoBlock2}}
<div class="photoItemSmall {{class}}">
  <div class="photoItemSmall-text">
    <p class="photoItemSmall-text_title">Photo Gallery Title Lorem Input Dolor</p>
    <p class="photoItemSmall-text_descr"># Photos</p>
  </div>
</div>
{{/photoBlock2}}
