{{#photoBlock1}}
<div class="photoItemBig {{class}}">
    <p class="photoItemBig__title">Photo Gallery Title Lorem Input Dolor</p>
    <p class="photoItemBig__descr"># Photos</p>
</div>
{{/photoBlock1}}
