.big-block1 {
  width: 605px;
  height: 450px;
}

.big-block1 {
  width: 605px;
  height: 450px;
}

.big-block2__left {
  display: inline-block;
  width: 298px;
  height: 450px;
  margin-right: 2px;
}

.big-block2__right {
  display: inline-block;
  width: 298px;
  height: 450px;
  margin-right: 2px;
}

.photoItemBig {
  position: relative;
  color: @color1;

  .photoItemBig-text {
    position: absolute;
    left: 25px;
    top: 335px;
    text-align: left;

    .photoItemBig-text_title {
      font-size: 25px;
      width: 295px;
      font-weight: bold;
      text-align: left;
      margin-bottom: 20px;
      .item-hover;
    }

    .photoItemBig-text_descr {
      font-size: 18px;
    }
  }
}

.photoItemSmall {
  position: relative;
  color: @color1;

  .photoItemSmall-text {
    position: absolute;
    top: 120px;
    text-align: left;
    left: 25px;

    .photoItemSmall-text_title {
      font-size: 20px;
      width: 245px;
      margin-bottom: 17px;
      font-weight: bold;
      .item-hover;
    }

    .photoItemSmall-text_descr {
      font-size: 18px;
    }
  }
}

.photoItem_background_1 {
  background-image: url("../imgs/photos/photo_1.jpg");
  width: 605px;
  height: 450px;
  margin-left: -5px;
}

.photoItem_background_2 {
  background-image: url("../imgs/photos/photo_2.jpg");
  width: 298px;
  height: 221px;
  margin-bottom: 8px;
}

.photoItem_background_3 {
  background-image: url("../imgs/photos/photo_3.jpg");
  width: 298px;
  height: 221px;
}

.photoItem_background_4 {
  background-image: url("../imgs/photos/photo_4.jpg");
  width: 298px;
  height: 221px;
  margin-bottom: 8px;
}

.photoItem_background_5 {
  background-image: url("../imgs/photos/photo_5.jpg");
  width: 298px;
  height: 221px;
}

.photos .owl-stage-outer {
  height: 450px;
}
