{{#newsBigItems}}
<div class="itemBig">
    <img class="itemBig__img" src="imgs/news/{{imgName}}.jpg">
    <h3 class="itemBig__title">{{title}}</h3>
    <div class="author">
    <p class="author__name">{{author}}</p>
    <p class="author__date">{{date}}</p>
    </div>
</div>
{{/newsBigItems}}
