{{#newsSmallItems}}
<div class="itemSmall">
    <img class="itemSmall__img" src="imgs/news/{{imgName}}.jpg">
    <h3 class="itemSmall__title">{{title}}</h3>
    <div class="author">
    <p class="author__name">{{author}}</p>
    <p class="author__date">{{date}}</p>
    </div>
</div>
{{/newsSmallItems}}
